body {
  /*background-color: #e5f9f6;*/
  margin: 0;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

div.ribbon {
  position: absolute;
  top: 0px;
  background-color: #000000;
  width:100%;
  height: 155px;
  text-align: center;
  clear: both;
  margin: 0;
}

section {
  position: absolute;
  margin: 10px;
  margin-top: 190px;
  float: left;
  width: 70%;
}

aside {
  background-color: #000000;
  /*max-width: 190px;*/
  margin: 1px;
  margin-top: 200px;
  padding: 2px;
  z-index: -1;
  width: 25%;
}

/* @media only screen and (max-width: 800px) {
  aside {
    display: none;
  }
  #middle {
    margin-left: 0;
    margin-right: 0;
  }
} */

aside.left {
  float: left;
}

aside.right {
  float: right;
}

#middle section {
  margin-left: 210px;
  margin-right: 210px;
  margin: 5px;
  overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top: 1px solid #0f0;
    font-weight: bold;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #631fa3;
}

div.box {
  border: 1px solid gray;
  width: 75%;
  margin: auto;
}

p.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background: #0f0;
}

.monospace {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.green {
  text-decoration: none;
  font-weight: bold;
  color: #0f0;
}
